<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.proxymityalert"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	
	
	
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity android:name="com.android.proxymityalert.EegConnectionStart" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.proxymityalert.ProximityAlertActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.android.proxymityalert.popup.Calculator"
            android:label="@string/calculate"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.android.proxymityalert.popup.Distance"
            android:label="@string/drive_time"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.android.proxymityalert.popup.YourAge"
            android:label="@string/your_age"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.android.proxymityalert.popup.Flavor"
            android:label="@string/ice_cream_flavor"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.android.proxymityalert.popup.FavoriteColor"
            android:label="@string/fav_color"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <service
            android:name="com.android.proxymityalert.GetEegData"
            android:label="@string/app_name" >
        </service>
    </application>

</manifest>